/* 小轮播 */
.swiper {
	position: absolute;
	left: 10px;
	top: 300px;
}

.b2img {
	width: 376px;
	height: 190px;
	position: absolute;
	left: 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-radius: 10px;
}

@keyframes bb {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes aa {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/* 标题 */
.mk4_b>p,
.mk4_c>p,
.mk4_a>p,
.jrtj,
.mk3_a>p {
	font-size: 20px;
	font-weight: bolder;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-bottom: 1px solid var(--base);
}

/* 嘟嘟问答 */
.mk3_a ul {
	position: absolute;
	left: 35px;
	top: 50px;
	/* background: salmon; */
}

.mk3_a ul li {
	list-style-type: circle !important;
	font-size: 16px;
	line-height: 40px;
}
.mk3_a ul li:hover{
	text-decoration: underline;
	color: #cea461;
}
/* 订购须知 */
.mb_top {
	height: 30px;
	width: 100%;
	/* background: salmon; */
	position: absolute;
	top: 0;
	border-bottom: 1px solid var(--base);
}

.zy_a {
	position: absolute;
	top: 35px;
	left: 15px;
}

.zy_a td {
	height: 30px;
}

.mb_top>p {
	position: absolute;
	font-size: 14px;
	margin: 10px 15px;
	font-weight: bolder;
}

.mb_img {
	position: absolute;
	top: 35px;
	right: 200px;
	width: 30px;
}

.mb_san {
	position: absolute;
	top: 35px;
	right: 60px;
	font-weight: bolder;
	line-height: 30px;
	color: var(--base);
}

/*tab的*/
/* .tab_a ul li {
	width: 135px;
	height: 200px;
	margin: 5px;
	float: left;
	list-style: none;
} */

/* .tab_a ul li>img {
	width: 100%;
	height: 118px;
	
	border-radius: 10px;
	
	box-shadow: 0.15em 0.15em 0.25em #c5c5c5 inset,
		-0.15em -0.15em 0.25em #ffffff80 inset, 0.3em 0.3em 0.6em #c5c5c5,
		-0.2em -0.2em 0.5em #ffffff80;
} */

.tab_a ul li p {
	font-size: 12px;
}

.tab_wz {
	font-size: 14px !important;
	margin: 10px 0;
	text-align: center;
	font-weight: bolder;
}

/*很多的*/
.jrtj {
	border: none !important;
	position: relative;
	margin-top: 10px;
	height: 40px;
	border-radius: 15px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.mk2_a>li>img {
	width: 240px;
	left: 0;
	right: 0;
	margin: 20px auto;
	/*height: 150px;*/
	border-radius: 10px;
	position: absolute;
	transition: 0.5s;
}

.mk2_a div {
	width: 230px;
	height: 70px;
	/*background: aqua;*/
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

.wz_bt {
	font-size: 18px;
	font-weight: bolder;
}

.wz_nr {
	font-size: 14px;
}

.wz_jg {
	color: #cea461;
}

/*新闻*/

.xw {
	position: relative;
	left: 10px;
	top: 2px;
}

.xw p {
	width: 280px;
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: 0.5s;
	/* background: salmon; */
}

.xw li {
	width: 280px;
	height: 215px;
	/* background: salmon; */
	margin: 5px;
	float: left;
	position: relative;
	list-style: none;

}

.xw li img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 90%;
	border-radius: 10px;
	transition: 0.5s;
}
.xw li:hover .img_xw{
	width: 80%;
}
.xw li:hover .wx_xw {
	font-size: 24px;
}
/*百叶窗*/
.containers {
	width: 790px;
	height: 290px;
	overflow: hidden;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 0px #000;
}

.containers img {
	border-radius: 10px;
	width: 640px;
	height: 290px;
}

.containers li {
	width: 155px;
	display: block;
	position: relative;
	float: left;
	-webkit-transition: all 0.5s;
}

.containers ul:hover li {
	width: 50px;
}

.containers ul li:hover {
	width: 540px;
}

.containers li img {
	display: block;
}

.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 640px;
}

.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

/*排行榜*/
select,
input,
textarea {
	font: 12px "宋体";
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ph_img {
	width: 80px;
	height: 78px;
	position: absolute;
	right: 0px;
	top: 0;
	border-radius: 20px;
}

.changeList ul,
.changeList ol,
.changeList li {
	list-style-type: none;
	vertical-align: 0;
}

.changeList a {
	outline-style: none;
	text-decoration: none;
}

:focus {
	-moz-outline-style: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.ht10px {
	height: 10px;
	font-size: 0px;
	line-height: 0px;
}

.ht4px {
	height: 4px;
	font-size: 0px;
	line-height: 0px;
}


.changeList {
	height: 400px;
	width: 248px;
	/*border: 1px #dddddd solid;*/
	font-family: Arial;
	left: 0;
	right: 0;
	margin: 10px auto;
}

.changeList dt {
	display: block;
	height: 80px;
	width: 236px;
	padding-left: 10px;
	text-align: left;
	line-height: 37px;
	float: left;
	/* border: 1px solid var(--base); */
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 20px;
	/*background: url(images/shuBg.gif) repeat-x top;*/
}

.changeList dt p {
	float: left;
	color: var(--base);
}

.changeList dd {
	float: left;
	height: 80px;
	width: 246px;
	margin-bottom: 1px;
	display: block;
	/* background-color: #aaf8ff; */
	margin-left: 1px;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.changeList h1 {
	display: block;
	float: right;
	height: 49px;
	width: 29px
}

.changeList em {
	float: right;
	height: 80px;
	width: 29px;
	display: block
}

.changeListText {
	float: left;
	height: 41px;
	width: 200px;
	margin-left: 5px;
	padding-top: 8px;
	text-align: left;
}

.changeListText a {
	line-height: 18px;
	color: #FFF;
}
h1>img{
	border-radius: 20px;
}



/*纵向轮播*/

#scroll_logo1 {
	width: 980px;
	height: 35px;
	white-space: nowrap;
	overflow: hidden;
}

#scroll_logo2 {
	width: 260px;
	height: 340px;
	overflow: hidden;
	clear: left;
	float: left;
	margin-left: 15px;
	border-radius: 10px;
}

#scroll_logo2 img {
	width: 260px;
	height: 240px;
	border-radius: 5px;
}

/*#scroll_logo2 a,
	a:hover {
		overflow: hidden;
		margin: 5px;
	}*/
/* 注册 */


/* form-div */
.form-div {
	width: 424px;
	margin: 70px auto;
}

.form-div input[type="text"],
.form-div input[type="password"],
.form-div input[type="email"] {
	border: 0;
	font-weight: bolder;
	background: none;
	display: block;
	margin: 20px 45px;
	text-align: center;
	/* border: 2px solid var(--base); */
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: var(--base);
	border-radius: 24px;
	box-shadow: inset 2px 2px 4px #b7bec8, inset -2px -2px 4px #f9f9f9;
}

.form-div input:focus {
	box-shadow: inset 4px 4px 4px #b7bec8, inset -4px -4px 4px #f9f9f9;
}

/*登录*/
.mk1_e input[type="text"],
.mk1_e input[type="password"] {
	border: 0;
	font-weight: bolder;
	background: none;
	display: block;
	margin: 20px auto 10px;
	text-align: center;
	/* border: 2px solid var(--base); */
	padding: 14px 10px;
	width: 100px;
	outline: none;
	color: var(--base);
	border-radius: 24px;
	transition: 0.25s;
	box-shadow: inset 2px 2px 4px #b7bec8, inset -2px -2px 4px #f9f9f9;
}

.mk1_e input[type="password"] {
	margin: 10px auto 10px !important;
}

.mk1_e input::placeholder {
	color: var(--base);
}

.mk1_e input[type="text"]:focus,
.mk1_e input[type="password"]:focus {
	width: 150px;
	border-color: var(--base);
	/*color: var(--base);*/
}

.mk1_e input:focus {
	box-shadow: inset 4px 4px 4px #b7bec8, inset -4px -4px 4px #f9f9f9;
}

.yangshi {
	width: 115px;
	font-weight: bolder;
	border: 0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	/*border: 2px solid #2ecc71;*/
	padding: 14px 40px;
	outline: none;
	border-radius: 24px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.yangshi:active {
	box-shadow: inset -2px -2px 6px rgb(255, 255, 255), inset 2px 2px 6px rgba(121, 130, 160, 0.747);
	color: #185ef0;
}

.mk1_e a {
	position: absolute !important;
	bottom: 5px;
	left: 45px;
	font-family: "微软雅黑";
	color: darkgray;
	font-size: 14px;
}


/*关于弹窗*/

.tanchuang {
	height: 600px;
	width: 800px;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: fixed;
	/*background: #ebecf0;*/
	/*background: rgba(0,0,0,0);*/
	border-radius: 10px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	z-index: 999999;
	display: none;
	background: var(--bg);
}

.end {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 10px;
	cursor: pointer;
}

.end>img {
	width: 100%;
	animation: zhuan 2s linear infinite;
}

@keyframes zhuan {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/*end*/
/*关于*/

/*.guanyu {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 15px;
		right: 140px;
		cursor: pointer;
	}
	
	.guanyu>img {
		width: 100%;
	}*/
/*end*/



/*轮播图*/

.lunbo {
	width: 100%;
	height: 350px;
	/*background: #ebecf0;*/
	position: relative;
	border-radius: 15px;
	margin: 10px auto;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

/*模块一*/

.mk1 {
	width: 100%;
	height: 300px;
	/*background: #000000;*/
	position: relative;
}

.mk1>div {
	border-radius: 15px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.mk1_a {
	position: absolute;
	width: 596px;
	height: 300px;
}

.mk1_b {
	position: absolute;
	width: 290px;
	height: 145px;
	left: 606px;
	/*background-image: url(../img/qita/caidai.png);*/
	background-size: 200%;
}

.mk1_b>img {
	height: 26px;
	position: absolute;
	left: 30px;
	top: 15px;
}

.mk1_b>p {
	width: 200px;
	/*background: darkgoldenrod;*/
	position: absolute;
	left: 30px;
	top: 50px;
	font-size: 14px;
	color: var(--base);
}

.mk1_b>p a {
	text-decoration: none;
	color: #cea461 !important;
}

.hy {
	width: 150px;
	height: 30px;
	border: 1px solid #cea461;
	line-height: 30px;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 10px;
	position: absolute;
	font-size: 14px;
	border-radius: 50px;
	color: var(--base);
	transition: 0.5s;
}

.hy:hover {
	background: #cea461;
}

.mk1_c {
	position: absolute;
	width: 290px;
	height: 145px;
	left: 606px;
	top: 155px;
	/*background-image: url(../img/qita/caidai.png);*/
	background-size: 200%;
}

.mk1_c img {
	position: absolute;
	width: 270px;
	height: 130px;
	border-radius: 10px;
	top: 7px;
	left: 10px;
}

.mk1_d {
	position: absolute;
	width: 140px;
	height: 300px;
	right: 158px;
	/*background-image: url(../img/qita/caidai.png);*/
	background-size: 200%;
}

.mk1_d img {
	height: 290px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.mk1_e {
	position: absolute;
	width: 150px;
	height: 300px;
	right: 0;
}

/*模块二*/

.mk2 {
	width: 100%;
	height: 1100px;
	/*background: #000000;*/
	position: relative;
	top: 5px;
}

.mk2_a li {
	position: relative;
	width: 290px;
	height: 350px;
	border-radius: 15px;
	list-style: none;
	float: left;
	margin: 5px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

/*模块三*/

.mk3 {
	width: 100%;
	height: 520px;
	/*background: #000000;*/
	position: relative;
	margin-top: -10px;
}

.mk3_a {
	position: absolute;
	width: 400px;
	height: 438px;
	border-radius: 15px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.mk3_b {
	position: absolute;
	left: 410px;
}

.mk3_b>li {
	border-radius: 15px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 1px 1px 12px rgba(121, 130, 160, 0.747);
	list-style: none;
}

.mk3_b>li:nth-child(1) {
	height: 290px;
	margin: 0px 0;
	position: relative;
}

.mk3_b>li:nth-child(2) {
    height: 136px;
    margin-top: 10px;
    position: relative;
    /* box-shadow: none; */
}

.mk3_b>li:nth-child(3) {
	height: 65px;
	margin-top: 7px;
	position: relative;
}

.mk3_b3 ul {
	margin-left: 30px;
}

.mk3_b3 ul li {
	float: left;
	margin-left: 50px;
	list-style: none;
}

.mk3_b3 ul li a {
	color: var(--base);
	text-decoration: none;
	line-height: 65px;
}

/*模块四*/

.mk4 {
	width: 100%;
	height: 420px;
	/*background: #000000;*/
	position: relative;
	margin-top: 10px;
}

.mk4_a {
	position: absolute;
	left: 0;
	width: 290px;
	height: 420px;
	border-radius: 15px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.mk4_b {
    position: absolute;
    left: 300px;
    right: 0;
    margin: auto;
    width: 900px;
    height: 420px;
    border-radius: 15px;
    box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.mk4_c {
	position: absolute;
	width: 290px;
	height: 500px;
	border-radius: 15px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	right: 0;
}

/*轮播图*/

#banner {
	list-style: none;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 800px;
	height: 200px;
}

#banner:hover {
	cursor: pointer;
}

#banner li {
	float: left;
	position: absolute;
	left: 0px;
	transition-duration: 0.4s;
}

#banner div {
	width: 10px;
	height: 10px;
	border: 1px solid rgb(156, 156, 156);
	border-radius: 100px;
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	bottom: -65px;
	position: absolute;
	background-color: white;
}

/*选项卡*/

.container {
	display: flex;
	width: 596px;
	height: 300px;
	min-width: 375px;
	overflow: auto;
}

.tab-container {
	padding: 0px;
	width: 100%;
	height: 100%;
}

.tabs {
	padding: 4px;
	/* border-radius: 12px 12px 0 0; */
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: var(--bg);
	/*box-shadow: -4px -4px 12px rgb(255, 255, 255),
  4px 4px 12px rgba(121, 130, 160, 0.747);*/
	display: flex;
	border-bottom: 1px solid var(--base);
}

.tab {
	padding: 12px 31px;
	cursor: pointer;
	transition: 0.3s;
	margin-left: 22px;
	font-weight: bold;
	font-size: 14px;
}

.tab.active {
	border-radius: 5px;
	background: var(--bg);
	box-shadow: inset -2px -2px 6px rgb(255, 255, 255), inset 2px 2px 6px rgba(121, 130, 160, 0.747);
	color: #A9A9A9;
}

.tab-content {
	height: 241px;
	margin-top: 5px;
	padding: 3px;
	border-radius: 16px;
	background: var(--bg);
	/*box-shadow: -4px -4px 12px rgb(255, 255, 255),
  4px 4px 12px rgba(121, 130, 160, 0.747);*/
}


.tab-content>div {
	animation: fadeIn 1.3s;
}

/*.tab-content h2 {
		margin-bottom: 24px;
		font-weight: 400;
	}
	*/
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 838px) {
	.tab-container {
		width: 100%;
	}
}

@media (min-width: 375px) and (max-width: 418px) {
	.tab {
		padding: 12px 24px;
	}
}


.daohang>ul li:active {
	box-shadow: inset -2px -2px 6px rgb(255, 255, 255), inset 2px 2px 6px rgba(121, 130, 160, 0.747);
	color: #185ef0;
}

.daohang>ul>li:nth-child(1) {
	left: -100px;
	animation: li1 2s 4s linear forwards;
}

.daohang>ul>li:nth-child(2) {
	left: -100px;
	animation: li2 2s 3.5s linear forwards;
}

.daohang>ul>li:nth-child(3) {
	left: -100px;
	animation: li3 2s 3s linear forwards;
}

.daohang>ul>li:nth-child(4) {
	left: -100px;
	animation: li4 2s 2.5s linear forwards;
}

.daohang>ul>li:nth-child(5) {
	left: -100px;
	animation: li5 2s 2s linear forwards;
}

.daohang>ul>li:nth-child(6) {
	left: -100px;
	animation: li6 2s 1.5s linear forwards;
}

.daohang>ul>li:nth-child(7) {
	left: -100px;
	animation: li7 2s 1s linear forwards;
}

.daohang>ul>li:nth-child(8) {
	left: -100px;
	animation: li8 2s 0.5s linear forwards;
}

/*.daohang>ul>li:nth-child(9) {
		left: -100px;
		animation: li9 2s linear forwards;
	}*/

/*@keyframes lin {
		0% {
			left: 0px;
			width: 70px;
			height: 70px;
			transform: scale(1);
		}
		50% {
			left: 0px;
			width: 70px;
			height: 70px;
			transform: scale(0.9);
		}
		100% {
			left: 0px;
			width: 70px;
			height: 70px;
			transform: scale(1);
		}
	}
	*/
@keyframes li1 {
	0% {
		top: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 0px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 70px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
		/*opacity: 1;*/
	}
}

@keyframes li2 {
	0% {
		left: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 90px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 170px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
	}
}

@keyframes li3 {
	0% {
		left: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 180px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 270px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
	}
}

@keyframes li4 {
	0% {
		left: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 270px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 370px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
	}
}

@keyframes li5 {
	0% {
		left: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 365px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 470px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
	}
}

@keyframes li6 {
	0% {
		left: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 455px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 570px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
	}
}

@keyframes li7 {
	0% {
		left: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 570px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 670px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
	}
}

@keyframes li8 {
	0% {
		left: -100px;
		width: 0px;
		height: 0px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	50% {
		left: 640px;
		width: 70px;
		height: 70px;
		/*color: rgba(0,0,0,0);*/
		opacity: 0;
	}

	100% {
		left: 770px;
		width: 70px;
		height: 70px;
		/*color: #626567;*/
	}
}

/*@keyframes li9 {
		0% {
			left: -100px;
			width: 0px;
			height: 0px;
			opacity: 0;
		}
		50% {
			left: 730px;
			width: 70px;
			height: 70px;
			opacity: 0;
		}
		100% {
			left: 730px;
			width: 70px;
			height: 70px;
		}
	}*/
/*end*/



img,
button {
	outline: none ! important;
}
.dhg1:nth-child(3){
	font-size: 17px;
	/* font-weight: bolder; */
}
#zhu {
	color: #ffffff;
	width: 1440px;
	/*background: #ebecf0;*/
	margin: 0 auto;
	position: relative;
}
/* 公众号 */
.gzh{
	width: 90px;
	height: 110px;
	position: absolute;
	bottom: -90px;
	right: 102px;
	z-index: 6;
	display: none;
	/* background: #0093E9; */
}
.gzh>img{
	position: absolute;
	width: 70px;
	height: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.gzh_ewm{
	position: absolute;
	top: 15px;
	width: 90px;
	height: 90px;
	background: #FFFFFF;
	border-radius: 10px;
	/* opacity: 0.4; */
}
.gzh_ewm>img{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 5px;
}
.gzh_a:hover+.gzh{
	display: block;
}
/* 购物车 */
.gwc {
	width: 35px;
	/* height: 20px; */
	position: absolute;
	top: 30px;
	right: -20px;
	opacity: 0;
	transition: 0.5s;
}
.mk2_a>li:hover{
	box-shadow: inset -2px -2px 6px rgb(255, 255, 255), inset 2px 2px 6px rgba(121, 130, 160, 0.747);
}
.mk2_a>li:hover .gwc {
	opacity: 1;
}
.mk2_a>li:hover .img_dg{
	/* margin: 5px auto; */
	width: 230px;
}

/*圆角样式,平移*/

.dingbu,
.bottom {
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}


/*平移*/

.bottom,
.zhu1 {
	animation: zhu1 1s linear forwards;
}


/*切换样式*/

.buttons {
	display: block;
	margin-left: 1250px;
	margin-top: -5px;
	justify-content: flex-start;
	z-index: 999;
	position: fixed;
}

button {
	color: var(--base);
	display: inherit;
	background: var(--bg);
	width: 60px;
	height: 60px;
	font-weight: 6000;
	margin-top: 20px;
	font-family: termina, sans-serif;
	font-size: 2rem;
	border-radius: var(--radius);
	z-index: 1;
	transform-style: preserve-3d;
	transition: 0.2s ease-out;
}

button:hover.main span {
	color: #fff;
	mix-blend-mode: difference;
}

button:hover.alt span {
	mix-blend-mode: difference;
	color: white;
}

button.main {
	background: var(--base);
	color: var(--bg);
}

button::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	z-index: 2;
	box-shadow: -5px -6px 10px var(--bg);
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	pointer-events: none;
}

button::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	z-index: 2;
	box-shadow: 5px 10px 15px var(--bg);
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	pointer-events: none;
}

button:active.alt::after {
	box-shadow: inset 4px 4px 8px var(--bg);
}

button:active.alt::before {
	box-shadow: inset -2px -2px 8px var(--bg);
}

button:active.main::after {
	box-shadow: 2px 5px 6px var(--bg);
}

button:active.main::before {
	box-shadow: inset -2px -2px 8px var(--base);
}


/*日历*/

section .box {
	position: fixed;
	z-index: 100;
	display: none;
}

section .box .containerr {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 330px;
	top: 90px;
	left: 910px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, .5);
	border-right: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	border-radius: 10px;
	backdrop-filter: blur(10px);
	/* -webkit-backdrop-filter: blur(50px); */
	-moz-backdrop-filter: blur(20px);
	/* filter: grayscale(50%); */
	/* filter: opacity(50%) */
	/* filter: blur(2px); */
}

section .box .containerr .dycalendar {
	width: 90%;
}

section .box .containerr .dycalendar table {
	width: 100%;
	margin-top: 30px;
	/*margin: 20px;*/
}

.dycalendar-month-container .dycalendar-body table tr td {
	color: var(--base);
	cursor: pointer;
	/*margin-top: 300px;*/
}

.dycalendar-month-container .dycalendar-body table tr:nth-child(1) td {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	font-weight: 400;
	/*margin-top: 100px;*/
}

.dycalendar-month-container .dycalendar-body table tr td:hover {
	background-color: #fff;
	border-radius: 10px;
	color: #000;
}

.dycalendar-month-container .dycalendar-target-date,
.dycalendar-month-container .dycalendar-today-date {
	background-color: #fff;
	color: #000 !important;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn,
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--base);
	width: 14px;
	height: 13px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.dycalendar-month-container .dycalendar-span-month-year {
	color: var(--base);
	width: 100%;
	height: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.dycalendar-container {
	display: inline-block;
	border: 1px solid #eee;
}

.dycalendar-container.round-edge {
	border-radius: 5%;
	-o-border-radius: 5%;
	-moz-border-radius: 5%;
	-webkit-border-radius: 5%;
}

.dycalendar-day-container {
	padding: 10px;
	text-align: center;
	font-family: Arial;
}

.dycalendar-day-container div {
	padding: 0;
	margin-bottom: 10px;
}

.dycalendar-day-container .dycalendar-span-day {
	font-size: 110%;
}

.dycalendar-day-container .dycalendar-span-date {
	font-size: 250%;
}

.dycalendar-day-container .dycalendar-span-month-year {
	font-size: 90%;
}

.dycalendar-month-container {
	/*padding: 10px;*/
	margin-top: 60px;
	text-align: center;
	font-family: Arial;
	height: 300px;
}

.dycalendar-month-container div {
	padding: 0;
	margin-bottom: 10px;
}

.dycalendar-month-container .dycalendar-header {
	position: relative;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn {
	position: absolute;
	top: 0;
	cursor: pointer;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn {
	left: 70px;
	top: -5px;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
	right: 70px;
	top: -5px;
}

.dycalendar-month-container .dycalendar-span-month-year {
	margin: 5px;
	cursor: pointer;
}

.dycalendar-month-container .dycalendar-body table tr td {
	padding: 7px;
}

.dycalendar-month-container .dycalendar-target-date,
.dycalendar-month-container .dycalendar-today-date {
	background-color: #fff;
	color: #fff;
	border-radius: 10px;
}

.dycalendar-container.gradient {
	background: #fff;
	background: linear-gradient(#fff, #d3d3d3);
	background: -o-linear-gradient(#fff, #d3d3d3);
	background: -moz-linear-gradient(#fff, #d3d3d3);
	background: -webkit-linear-gradient(#fff, #d3d3d3);
}

.dycalendar-container.skin-black {
	color: #fff;
	background-color: #111;
	border: 0;
}

.dycalendar-container.skin-black.gradient {
	background: #fff;
	background: linear-gradient(#555, #111);
	background: -o-linear-gradient(#555, #111);
	background: -moz-linear-gradient(#555, #111);
	background: -webkit-linear-gradient(#555, #111);
}

.dycalendar-container.skin-black .dycalendar-target-date,
.dycalendar-container.skin-black .dycalendar-today-date {
	background-color: #fff;
	color: #111;
	border-radius: 2px;
}

.dycalendar-container.skin-blue {
	color: #fff;
	background-color: #3c99d3;
	border: 0;
}

.dycalendar-container.skin-blue.gradient {
	background: #3c99d3;
	background: linear-gradient(#5ebbf5, #3c99d3);
	background: -o-linear-gradient(#5ebbf5, #3c99d3);
	background: -moz-linear-gradient(#5ebbf5, #3c99d3);
	background: -webkit-linear-gradient(#5ebbf5, #3c99d3);
}

.dycalendar-container.skin-blue .dycalendar-target-date,
.dycalendar-container.skin-blue .dycalendar-today-date {
	background-color: #fff;
	color: #3c99d3;
	border-radius: 2px;
}

.dycalendar-container.skin-green {
	color: #fff;
	background-color: #2bb063;
	border: 0;
}

.dycalendar-container.skin-green.gradient {
	background: #2bb063;
	background: linear-gradient(#3dd175, #2bb063);
	background: -o-linear-gradient(#3dd175, #2bb063);
	background: -moz-linear-gradient(#3dd175, #2bb063);
	background: -webkit-linear-gradient(#3dd175, #2bb063)
}

.dycalendar-container.skin-green .dycalendar-target-date,
.dycalendar-container.skin-green .dycalendar-today-date {
	background-color: #fff;
	background-color: #fff;
	color: #975ea4;
	border-radius: 2px;
}

.dycalendar-container.skin-red {
	color: #fff;
	background-color: #e94d40;
}

/*顶部的(导航+关于)*/

.dingbu {
	height: 80px;
	width: 1200px;
	top: -90px;
	left: 0;
	right: 0;
	margin: 0 10px 0 300px;
	position: fixed;
	/* background: var(--bg); */
	/*background: rgba(0,0,0,0);*/
	border-radius: 0 0 10px 10px;
	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 8px 5px 10px darkgray;
	z-index: 20;
	animation: dingbu 1s linear forwards;
}

@keyframes dingbu {
	0% {
		top: -90;
	}

	100% {
		top: 0px;
	}
}

@keyframes dingbu1 {
	0% {
		top: 0;
	}

	100% {
		top: -90px;
	}
}

/*logo的*/

.logo {
	width: 120px;
	height: 55px;
	position: fixed;
	top: 10px;
	margin-left: 20px;
	z-index: 6666;
	cursor: pointer;
	animation: logo1 3s linear;
	border-radius: 15px;
	/*z-index: 6666;*/
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}

.logo>img {
	width: 140px;
	height: 40px;
	margin-top: 8px;
	margin-left: -12px;
	/*box-shadow: 8px 5px 10px darkgray;*/
}

/*进入动画—跳动*/

@keyframes logo1 {
	0% {
		top: -55px;
		transform: scale(0.9);
	}

	25% {
		top: 30px;
		transform: scale(0.8);
	}

	50% {
		top: 0px;
		transform: scale(0.9);
	}

	65% {
		top: 25px;
		transform: scale(0.8);
	}

	75% {
		top: 10px;
		transform: scale(0.9);
	}

	85% {
		top: 5px;
		transform: scale(0.8);
	}

	100% {
		top: 10px;
		transform: scale(1);
	}
}

@keyframes logo {
	0% {
		transform: scale(1);
		margin-left: 20px;
	}

	20% {
		transform: scale(0.9);
		margin-left: 20px;
	}

	50% {
		transform: scale(1);
		margin-left: 20px;
	}

	100% {
		margin-left: -130px;
	}
}

@keyframes logo2 {
	0% {
		transform: scale(1);
		margin-left: -130px;
	}

	20% {
		transform: scale(0.9);
		margin-left: -130px;
	}

	50% {
		transform: scale(1);
		margin-left: -130px;
	}

	100% {
		margin-left: 20px;
	}
}


/*end*/
/*导航*/

.daohang {
	width: 850px;
	height: 70px;
	/*background: lawngreen;*/
	position: absolute;
	top: 5px;
	left: 150px;
}

.daohang>ul li a {
	text-decoration: none;
	color: var(--base);
}

.daohang>ul li {
	/*width: 0px;
	height: 0px;
	margin-left: 20px;
	border-radius: 100px;
	background: #fff;
	box-shadow: 0.1px 0.1px 0.1px rgba(0,0,0,0.2) inset,8px 5px 10px darkgray;
	list-style: none;
	position: absolute;
	text-align: center;
	line-height: 70px;
	color: rgba(0,0,0,0);
	cursor: pointer;
	*/
	position: absolute;
	/*width: 60%;*/
	/*padding:10px ;*/
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	/*background: #ebecf0;*/
	outline: none;
	border: none;
	font-size: 18px;
	border-radius: 50px;
	margin-bottom: 15px;
	color: var(--base);
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	text-align: center;
	line-height: 70px;
}

/*遮罩*/

.zhezhao {
	position: absolute;
	width: 120px;
	height: 80px;
	background: var(--bg);
	/*opacity: 0.5;*/
	left: 10px;
	z-index: 2;
}

/*时间*/

.time {
	width: 80px;
	height: 50px;
	text-align: center;
	/*background: #ebecf0;*/
	box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	position: absolute;
	right: 15px;
	top: 15px;
	border-radius: 30px;
}

.time:active {
	box-shadow: inset -2px -2px 6px rgb(255, 255, 255), inset 2px 2px 6px rgba(121, 130, 160, 0.747);
	color: #185ef0;
}

.time>div {
	width: 110px;
	height: 25px;
	position: absolute;
	top: 15px;
	left: 5px;
	border-radius: 30px;
}

.time>div>span {
	float: left;
	line-height: 20px;
	font-size: 10px;
}

/*end*/
/*回到顶部*/

#gotop {
	position: fixed;
	display: none;
	margin-left: 1250px;
	bottom: 40px;
}

#gotop img {
	width: 80px;
	height: 100px;
}

#gotop img:hover {
	cursor: pointer;
}

/*底部*/

.bottom {
	width: 100%;
	height: 80px;
	/*background: #ebecf0;*/
	position: relative;
	border-radius: 15px;
	margin: 10px auto 20px;
	text-align: center;
	color: var(--base);
}

.bottom>div {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.zhu1 {
	top: 0px;
	width: 1200px;
	/*background: #ebecf0;*/
	margin: 0 auto;
	position: relative;
}

@keyframes zhu1 {
	0% {
		top: 0;
	}

	100% {
		top: 80px;
	}
}

@keyframes zhu11 {
	0% {
		top: 80px;
	}

	100% {
		top: 0px;
	}
}

.user-info3 {
    position: absolute;
    right: 10px;
    margin-top: 24px;
    width: 346px;
    display: grid;
    grid-template-columns: 30% 55% 15%;
    align-items: center;
    padding: 0 10px;
}

.user-info3 h4 {
	margin-left: 40px;
  }
  
  .user-info3 img {
	width: 40px;
	aspect-ratio: 1/1;
	border-radius: 50%;
  }

.mk4_b  *{
	margin: 0;
	padding: 0;
}
.mk4_b a{
	list-style: none;
}
.mk4_b li{
	list-style: none;
}
.mk4_b .lunbo{
	width: 100%;
	box-shadow: none;
}
.mk4_b .content{
	width: 800px;
	height: 300px;
	margin: 20px auto;
	position: relative;
}
.mk4_b #item{
	width: 100%;
	height: 100%;
}
.mk4_b .item{
	position: absolute;
	opacity: 0;
	transition: all 1s;
}
.mk4_b .item.active{
	opacity:1;
}

.mk4_b img{
	width: 100%;
}
.mk4_b .item img {
    width: 800px;  
    height: 310px; 
    object-fit: cover; 
	border-radius: 15px;
}
.mk4_b #btn-left{
	width: 30px;
	height: 69px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left:5px;
	z-index: 10;/*始终显示在图片的上层*/
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-60%);/*使按钮向上偏移居中对齐*/
	cursor: pointer;
	opacity: 0;/*平时隐藏*/
}
.mk4_b .lunbo:hover #btn-left{
	/*鼠标滑入，显示图标*/
	opacity: 1;
}

.mk4_b #btn-right{
	width: 26px;
	height: 69px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left: 5px;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 50%;
	cursor: pointer;
	opacity: 0;
	transform: translateY(-60%);
}
.mk4_b .lunbo:hover #btn-right{
	opacity: 1;
}
.mk4_b #circle{
	height: 20px;
	display: flex;
	position: absolute;
	bottom: 35px;
	right: 25px;
}
.mk4_b .circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid white;
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	margin: 5px;
}
.mk4_b .white{
	background-color: #FFFFFF;
}

.banner{
	height: 320px;
	position: relative;
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.banner>img{
	width: 1100px;
	height: 300px;
	position: absolute;
	top: 10px;
	left: 50px;
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
}
.nr_dg{
		position: relative;
		width: 1200px;
		/*background: darkblue;*/
		/* padding-bottom: 20px; */
		/* height: calc(100% + 120px); */
		/* height: 2000px; */
		margin-bottom: 100px;
		height: 100%;
		margin-top: 10px;
		border-radius: 10px;
		box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	}
	/*选项卡*/
	#tab1{
		margin-left: 220px;
	}
	.mk2_a{
		margin-left: 20px;
		/* margin-bottom: 20px; */
		/* padding-bottom: 50px; */
	}
	.mk2_a li {
		position: relative;
		width: 278px;
		height: 350px;
		border-radius: 15px;
		list-style: none;
		float: left;
		margin: 5px;
		box-shadow: -2px -2px 6px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	}
	.jrtj{
		border: none !important;
		position: relative;
		margin-top: 10px;
		height: 40px;
		border-radius: 15px;
		box-shadow: -4px -4px 12px rgb(255, 255, 255), 4px 4px 12px rgba(121, 130, 160, 0.747);
	}
	.mk2_a>li>img {
		width: 240px;
		height: 240px;
		left: 0;
		right: 0;
		margin: 20px auto;
		/* height: 150px; */
		border-radius: 10px;
		position: absolute;
		transition: 0.5s;
		object-fit: cover;
	}
	.mk2_a div{
		width: 230px;
		height: 70px;
		/*background: aqua;*/
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
	}
	.wz_bt{
		font-size: 18px;
		font-weight: bolder;
	}
	.wz_nr{
		font-size: 14px;
	}
	.wz_jg{
		color: #cea461;
	}
	.container {
		margin: 0;
		display: flex;
		width: 1200px;
		/* height: calc(100% - 50px); */
		/* background: #0093E9; */
		/* height: 5200px; */
		height: 1400px;
		margin-top: 10px;
		min-width: 375px;
		overflow: auto;
	}
	
	.tab-container {
		padding: 0px;
		width: 100%;
		height: 100%;
	}
	
	.tabs {
		padding: 4px;
		/* border-radius: 12px 12px 0 0; */
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background: var(--bg);
		/*box-shadow: -4px -4px 12px rgb(255, 255, 255),
  4px 4px 12px rgba(121, 130, 160, 0.747);*/
		display: flex;
		border-bottom: 1px solid var(--base);
	}
	
	.tab {
		padding: 12px 31px;
		cursor: pointer;
		transition: 0.3s;
		margin-left: 22px;
		font-weight: bold;
		font-size: 14px;
	}
	
	.tab.active {
		border-radius: 5px;
		background: var(--bg);
		box-shadow: inset -2px -2px 6px rgb(255, 255, 255), inset 2px 2px 6px rgba(121, 130, 160, 0.747);
		color: #A9A9A9;
	}
	
	.tab-content {
		height: 241px;
		margin-top: 5px;
		padding: 3px;
		border-radius: 16px;
		background: var(--bg);
		/*box-shadow: -4px -4px 12px rgb(255, 255, 255),
  4px 4px 12px rgba(121, 130, 160, 0.747);*/
	}
	

	.tab-content>div {
		animation: fadeIn 1.3s;
	}
	
	/*.tab-content h2 {
		margin-bottom: 24px;
		font-weight: 400;
	}
	*/
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	
	@media (max-width: 838px) {
		.tab-container {
			width: 100%;
		}
	}
	
	@media (min-width: 375px) and (max-width: 418px) {
		.tab {
			padding: 12px 24px;
		}
	}

	.daohang>ul>li{
		width: 70px;
		height: 70px;
	}
	.daohang>ul li:active {
		box-shadow: inset -2px -2px 6px rgb(255, 255, 255), inset 2px 2px 6px rgba(121, 130, 160, 0.747);
		color: #185ef0;
	}
	
	.daohang>ul>li:nth-child(1) {
		left: 70px;
	}
	
	.daohang>ul>li:nth-child(2) {
		left: 170px;
	}
	
	.daohang>ul>li:nth-child(3) {
		left: 270px;
	}
	
	.daohang>ul>li:nth-child(4) {
		left: 370px;
	}
	
	.daohang>ul>li:nth-child(5) {
		left: 470px;
	}
	
	.daohang>ul>li:nth-child(6) {
		left: 570px;
	}
	
	.daohang>ul>li:nth-child(7) {
		left: 670px;
	}
	
	.daohang>ul>li:nth-child(8) {
		left: 770px;
	}

	.container::-webkit-scrollbar {
		display: none;
	}